@model Library.Application.Dto.BookDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>
        <dd class = "col-sm-10">
            <image src="/images/@ViewBag.PhotoPath"
                   height="160" width="120" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelfDTOObj.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelfDTOObj.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderDTOObj.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReaderDTOObj.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Вернуться назад</a>
</div>
