@model Library.Application.ViewModels.BookEditVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактирование</h1>

<h4>Книга</h4>
<hr />
<form method="post">
    <table class="table table-striped table-hover">
        <tr>
            <td>@Html.DisplayNameFor(model => model.book.Title)</td>
            <td>
                <input asp-for="book.Title" class="form-control" />
                <span asp-validation-for="book.Title" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.book.PhotoPath)</td>
            <td>
                <image src="/images/@ViewBag.PhotoPath"
                       height="160" width="120" />
                <hr />
                <input asp-for="book.PhotoPath" class="form-control" size="20" />
                <span asp-validation-for="book.PhotoPath" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.book.AuthorDTOs)</td>
            <td>
                @for (int i = 0; i < Model.book.AuthorDTOs.Count(); i++)
                {
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.book.AuthorDTOs[i].FullName)
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@Model.book.AuthorDTOs[i].Id">Удалить</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                } 
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.book.CategoryDTOs)</td>
            <td>
                @for (int i = 0; i < Model.book.CategoryDTOs.Count(); i++)
                {
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.book.CategoryDTOs[i].Name)
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@Model.book.CategoryDTOs[i].Id">Удалить</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.book.TagDTOs)</td>
            <td>
                @for (int i = 0; i < Model.book.TagDTOs.Count(); i++)
                {
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.book.TagDTOs[i].Name)
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@Model.book.TagDTOs[i].Id">Удалить</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.book.ShelfName)</td>
            <td>
                <select name="shelfId" class="form-control">
                    @for (int i = 0; i < Model.shelves.Count(); i++)
                    {
                        <option value="@Model.shelves[i].Id">@Model.shelves[i].Name</option>
                    }
                </select>
                <span asp-validation-for="book.ShelfName" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.book.ReaderName)</td>
            <td>
                <select name="readerId" class="form-control">
                    @for (int i = 0; i < Model.readers.Count(); i++)
                    {
                        <option value="@Model.readers[i].Id">@Model.readers[i].FullName</option>
                    }
                </select>
                <span asp-validation-for="book.ReaderName" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.book.TakeDate)</td>
            <td>
                <div class="form-group">
                    <input asp-for="book.TakeDate" class="form-control" />
                    <span asp-validation-for="book.TakeDate" class="text-danger"></span>
                </div>
            </td>
        </tr>
    </table>

    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
