@model Library.Application.Dto.BookDTO

@{
    ViewData["Title"] = "Edit";
    var categoryIdList = Model.CategoryDTOs.Select(x => x.Id).ToList();
    var tagIdList = Model.TagDTOs.Select(x => x.Id).ToList();
    var authorIdList = Model.AuthorDTOs.Select(x => x.Id).ToList();
}

<h1>Редактирование</h1>

<h4>Книга</h4>
<hr />
<form method="post">
    <table class="table table-striped table-hover">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Title)</td>
            <td>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PhotoPath)</td>
            <td>
                <image src="/images/@ViewBag.PhotoPath"
                       height="160" width="120" />
                <hr />
                <input asp-for="PhotoPath" class="form-control" size="20" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.AuthorDTOs)</td>
            <td>
                @foreach (var author in ViewBag.Authors)
                {

                    if (authorIdList.Contains(author.Id))
                    {
                        <input type="checkbox" name="selectedAuthors" value="@author.Id" checked />@author.FullName <br />
                    }
                    else
                    {
                        <input type="checkbox" name="selectedAuthors" value="@author.Id" />@author.FullName <br />
                    }
                }
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.CategoryDTOs)</td>
            <td>
                @foreach (var category in ViewBag.Categories)
                {
                    if (categoryIdList.Contains(category.Id))
                    {
                        <input type="checkbox" name="selectedCategories" value="@category.Id" checked />@category.Name <br />
                    }
                    else
                    {
                        <input type="checkbox" name="selectedCategories" value="@category.Id" />@category.Name <br />
                    }
                }
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.TagDTOs)</td>
            <td>
                @foreach (var tag in ViewBag.Tags)
                {
                    if (tagIdList.Contains(tag.Id))
                    {
                        <input type="checkbox" name="selectedTags" value="@tag.Id" checked />@tag.Name <br />
                    }
                    else
                    {
                        <input type="checkbox" name="selectedTags" value="@tag.Id" />@tag.Name <br />
                    }
                }
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ShelfName)</td>
            <td>
                <select name="shelfId" class="form-control">
                    @foreach (var item in ViewBag.Shelves)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="ShelfName" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ReaderName)</td>
            <td>
                <select name="readerId" class="form-control">
                    @foreach (var item in ViewBag.Readers)
                    {
                        <option value="@item.Id">@item.FullName</option>
                    }
                </select>
                <span asp-validation-for="ReaderName" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.TakeDate)</td>
            <td>
                <div class="form-group">
                    <input asp-for="TakeDate" class="form-control" />
                    <span asp-validation-for="TakeDate" class="text-danger"></span>
                </div>
            </td>
        </tr>
    </table>

    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
