@model IEnumerable<Library.Application.Dto.BookDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddBook">Добавить книгу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorDTOs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDTOs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagDTOs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShelfName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReaderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakeDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <image src="/images/@item.PhotoPath"
                       height="160" width="120" />
            </td>
            <td>
                @foreach (var author in item.AuthorDTOs)
                {
                <ul>
                    @Html.DisplayFor(modelItem => author.FullName)
                </ul>
                }
            </td>
            <td>
                @foreach (var category in item.CategoryDTOs)
                {
                <ul>
                    @Html.DisplayFor(modelItem => category.Name)
                </ul>
                }
            </td>
            <td>
                @foreach (var tag in item.TagDTOs)
                {
                <ul>
                    @Html.DisplayFor(modelItem => tag.Name)
                </ul>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShelfName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReaderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakeDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Описание</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
        }
    </tbody>
</table>
